
.main-container {
    padding-top: 30px;
}

/* INDEX PAGE */
.buttons-wrapper {
  position: absolute;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 0;
  pointer-events: none;
  width: 100%;
}
.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.hero-content {
    padding-top: 30px;
    padding-bottom: 50px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

.header-text {
    margin: 50px;
}

/* RECIPE CARD PAGE */
.cocktails-heading {
    text-align: center;
    color: white;
    padding-top: 150px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

.card .card-image img{
    height: 300px; 
}






.alcohol_card {
  object-fit: cover;
} 