{% extends 'base.html' %} {% block content %}

<h2>Add Cocktail</h2>

<form class="addcocktail_form" method="POST" action="{{ url_for('addcocktail') }}">
    <div class="row">
        <h5>Add the desired Cocktail for your recipe</h5>
        <div class="input-field col s6 addcocktail_from">
            <i class="material-icons prefix">assignment</i>
            <input id="cocktail" name="cocktail" type="text">
            <label for="icon_prefix">What is the name of the cocktail you wish to add?</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Save Cocktail
        <i class="material-icons right">playlist_add</i>
    </button>
</form>

{% endblock %}