{% extends 'base.html' %} {% block content %}
<!--INDEX PAGE-->
<body>
<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="https://res.cloudinary.com/dwpozm2nb/image/upload/e_brightness:0/v1589120069/six_cocktails_uw48pp.jpg"> <!-- random image -->
        </li>
        <li>
            <img src="https://res.cloudinary.com/dwpozm2nb/image/upload/v1589152889/cocktail_image1_frghqq.jpg"> <!-- random image -->
        </li>
        <li>
            <img src="https://res.cloudinary.com/dwpozm2nb/image/upload/v1589152893/cocktail_image2_gebyp1.jpg"> <!-- random image -->
        </li>
        <li>
            <img src="https://res.cloudinary.com/dwpozm2nb/image/upload/v1589152899/cocktail_image3_inum61.jpg"> <!-- random image -->
        </li>
        <li>
            <img src="https://res.cloudinary.com/dwpozm2nb/image/upload/v1589152904/cocktail_image4_hplkfp.jpg"> <!-- random image -->
        </li>
    </ul>
    <div class="buttons-wrapper">
        <div class="center-align z-depth-5 white-text hero-content">
            <h3><i>Welcome to..</i><br>The Cockail Guide!</h3>
            <h5 class="header-text">Think you can make something better? feel free to edit existing cocktail recipes and you can even add your own!</h5>
            <a href="{{url_for('recipe')}}" class="waves-effect waves-light btn-large">Get Started</a>
        </div>
    </div>
  </div>
</body>
{% endblock %}