{% extends 'base.html' %} {% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="https://res.cloudinary.com/dwpozm2nb/image/upload/v1591482604/small_cocktail2_xrc4ms.jpg"></div>
    <h2 class="cocktails-heading">Cocktails</h2>
</div>
<div class="container row main-container">
    {% for item in recipe %}
            <!--cocktail card-->
    <div class="col l4 card_div">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{item.cocktail_image}}" alt="cocktail image">
            </div>
            <div class="card-content">
                <span class="card-title">{{item.cocktail.title()}}</span>
                <p>{{item.description.capitalize()|truncate(30)}}</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('cocktail_recipe', recipe_id=item._id) }}">View Recipe</a>
            <a href="{{ url_for('editrecipe', recipe_id=item._id) }}">Edit Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

