{% extends 'base.html' %} {% block content %}

<h2>Cocktails</h2>

<div class="row cocktail_card">
    {% for recipe in recipe %}
            <!--cocktail card-->
    <div class="col l4 card_div">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{recipe.cocktail_image}}" alt="cocktail image">
            </div>
            <div class="card-content">
                <span class="card-title">{{recipe.cocktail}}</span>
                <p maxlength="20">{{recipe.description}}</p>
            </div>
            <div class="card-action">
            <a href="{{ url_for('cocktail_recipe', recipe_id=recipe._id) }}">View Recipe</a>
            <a href="{{ url_for('editrecipe', recipe_id=recipe._id) }}">Edit Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

